<div class="lgik-nav-container">

    <div class="lgik-nav-brandbox">
        <p>LinuxGik</p>
    </div>

    <div class="lgik-menu-box">
        <nav>
            <ul class="lgik-nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/pages/ruby/ruby.html">Ruby</a></li>
                <li><a href="/pages/pro_css/pro_css.html">Веб-дизайн</a></li>
                <li><a href="/pages/pro_github.html">Спаравочник по Git</a></li>
            </ul>
        </nav>

        <nav class="lgik-nav-second">
            <ul class="lgik-nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/pages/ruby/ruby.html">Ruby</a></li>
                <li><a href="/pages/pro_css/pro_css.html">Веб-дизайн</a></li>
                <li><a href="/pages/pro_github.html">Спаравочник по Git</a></li>
            </ul>
            <form class="lgik-nav-search">
                <input type="search" name="q" placeholder="Search query">
                <input type="submit" value="Go!">
            </form>
        </nav>
    </div>

</div>
