.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
                         "left-aside main right-aside"
                         "footer footer footer";
}

header {
    grid-area: header;
}
.left-aside {
    grid-area: left-aside;
}
main {
    grid-area: main;
}
.right-aside {
    grid-area: right-aside;
}
footer {
    grid-area: footer;
}
