:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* цвет выделения */
::selection {
    background-color: #dddaec;
}
/* стилизация ссылок */
a:link {
    text-decoration: none;
}



/* Подключение шрифтов */

@font-face {
    font-family: "Inter";
    src: url(../fonts/inter.woff2);
}

@font-face {
    font-family: "open";
    src: url(../fonts/open-sans.woff2);
}

@font-face {
    font-family: "Larson";
    src: url(../fonts/Larson.woff2);
}
/* Основной цвет, фон, шрифт */
body {
    background-color: #fafafa;
    font-family: "Inter";
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
}
