<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home linuxgik.ru</title>
</head>
<body>
    
    <header class="page-header">
        <h1 class="title">linuxgik.ru - мои заметки в мире Информационных технологий</h1>
        <nav>
            <ul class="nav">
                <li><a href="#" class="featured">LinuxGik</a></li>
                <li><a href="#">C#</a></li>
                <li><a href="#">Мой сервер</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>